html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-size: cover;          /* Scale the image to cover the element */
    background-repeat: no-repeat;    /* Do not repeat the image */
    background-position: center center;  /* Center the image */
}

.title{
    color: wheat;
}

/* @media only screen and (max-width: 600px) {
    body {
        background-image: url('/images/background-mobile.jpg');
    }
} */
